// Variabler för upprepad användning
$primär-färg: #37b96f;
$sekundär-färg: #2c1bbf;
$accent-färg: complement(#2c1bbf);

$border-radius: 18px;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

$buttonColor: #3498db;
$hoverTransitionTime: 0.5s;

